body {
    display: flex;
    margin: 0;
}

#left {
    background-image: url(nebula.jpg);
    height: 100vh;
    width: 33vw;
}

h1 {
    color: white;
}

#credit {
    color: white;
}

#credit a {
    color: white;
}